<ul>
    <li><%= @articles.title %></li>
    <li><%= @articles.content %></li>
</ul>
<h1>new test</h1>

<%= form_for [ @articles , @comments ] do |f| %>
    <div>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div>
      <%= f.label :comment %>
      <%= f.text_area :comment %>
    </div>

    <div>
      <%= f.submit "comment" %>
    </div>
<% end %>
<% if @articles.comments %>
<h3>Comments</h3>
<% @articles.comments.each do |content| %>
<ul>
  <li><%= content.comment %></li>
</ul>
<% end %>
<% end %>
