<h2>Articles</h2>
<ul>
  <% @articles.each do |article| %>
      <li>
      <h3><%= link_to article.title, new_article_comment_path(article)%></h3>
      </li>
      <li>
        <%= article.content %><br />
      </li>
      <li>
         Written by <%= article.author  %> at <%= article.created_at.strftime('%Y-%m-%d') %><br />
      </li>
      <% i = 0 %>
      <% if article.comments %>
        <% article.comments.each do |content| %>
            <h4>Comments <%= i += 1 %></h4>
            <%= content.email %><br>
            <%= content.comment %>
        <% end %>
      <% end %>
      <hr>
  <% end %>
</ul>
<h4>List of authors</h4>
<% @articles.each do |author| %>
    <%= link_to author.author, new_show_path(author.author) %><br>
<% end %><br />
<%= link_to "Add Post" , new_post_path %>
